<!DOCTYPE html>
<html>
<title>Forecast Graphs</title>
<body>
    <div>Graph Prophet forecast</div>
    <div><img src='{{ prophet }}'></div>
    <div1>Prophet forecast components</div1>
    <div><img src='{{ prophet_components }}'></div>

</body>
</html>